@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contacts</h2>


<ul>

    <li>contact</li>
    <li>contact</li>
    <li>contact</li>
    <li>contact</li>
    <li>contact</li>
</ul>



Gracias por todo
